@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --orange-color: lightsalmon;
  --green-color: #00afaa;
  --small-padding: 1rem;
  --main-padding: 2rem;
  --main-padding-large: 4rem;
  --main-margin: 2rem;
  --large-margin: 5rem;
  --x-small-font: 0.8rem;
  --small-font: 1.2rem;
  --normal-font: 1.6rem;
  --large-font: 1.8rem;
  --extra-large-font: 2.2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 0.1rem;
}

.shadow {
  background: var(--green-color);
  border: 1px solid #000;
  box-shadow: 3px 4px 0px #000;
  padding: var(--main-padding);
  color: white;
}

#heading {
  text-align: center;
  font-size: var(--extra-large-font);
  font-weight: 600;
  margin: var(--main-margin) 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.nhs {
  padding: var(--main-padding);
  background-color: #e5e5e5;
  color: black;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.nhs-text > * {
  margin-bottom: 0.5rem 0;
}

.nhs-text p {
  margin-bottom: 0.5rem;
  font-size: var(--small-font);
}

.nhs h3 {
  font-size: var(--normal-font);
  margin: 0.5rem 0;
}

#nhs-link {
  color: blue;
}

.form {
  display: flex;
  padding: var(--main-padding) 0;
}

.form input[type='text'] {
  flex-basis: 100%;
  padding: var(--main-padding);
  border: 1px solid var(--green-color);
  font-size: var(--normal-font);
}

.form input[type='submit'] {
  font-size: var(--normal-font);
  font-weight: bold;
  background: var(--green-color);
  padding: var(--main-padding);
  outline: none;
  outline-color: none;
  color: white;
  border: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

.select {
  /* margin: var(--main-margin) 0; */
}

#mapid {
  min-height: 300px;
}

.active-map {
  opacity: 0;
  height: 0;
}

.active-chart {
  display: none !important;
}

.myChart-country {
  min-height: 300px !important;
}

#chart-heading {
  text-align: center;
  padding: var(--main-padding) 0;
  font-size: var(--large-font);
}

.toggle-chart {
  padding: var(--small-padding);
  display: inline-block;
  border-bottom: 1px solid var(--green-color);
  cursor: pointer;
  font-weight: bold;
}

.toggle-chart:nth-child(2) {
  border-bottom: grey;
}

#toggle-chart:hover {
  background: var(--green-color);
}

#show-visual-wrapper {
  padding: var(--main-padding) 0;
}

.container {
  width: 80vw;
  margin: auto;
}

main {
  margin: var(--main-margin) 0;
  display: grid;
  grid-gap: var(--main-padding);
  grid-template-columns: repeat(3, 1fr);
}

.box {
  padding: 1.2rem;
  border: 2px solid black;
  box-shadow: 3px 4px 0px #000;
}

.box-heading {
  font-weight: bold;
  font-size: var(--extra-large-font);
  grid-row: 1;
}

.all-cases-box {
  grid-column: 1;
  border: 1px solid black;
  padding: var(--main-padding);
  margin: var(--large-font) 0;
}

.all-cases-box {
}

.all-cases-box-text {
}

.all-cases-box__image {
}

.box-text {
  font-size: var(--normal-font);
  font-weight: bold;
  border-bottom: 2px solid var(--green-color);
  display: flex;
  flex-direction: column;
  padding: var(--main-padding) 0;
  line-height: 2rem;
}

.box-text span {
  margin: var(--main-padding) 0;
  color: var(--orange-color);
  letter-spacing: 0.3rem;
}

/* # map popup */
.leaflet-popup-content-wrapper {
  background-color: var(--orange-color) !important ;
}

.leaflet-popup-content-wrapper h4 {
  text-align: center;
}

.country-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.country-info-header img {
  height: 50px;
  width: 100px;
}

.search-cases-box {
  grid-column: 2 /-1;
  grid-row: 2;
  overflow: hidden;
}

.country-case-text {
  font-size: var(--normal-font);
  margin: 1rem 0;
  padding: var(--main-padding);
  background-color: var(--green-color);
}

.country-case-text span {
  font-weight: bold;
  font-weight: 700;
  color: white;
  letter-spacing: 0.3rem;
  background-color: black;
  padding: 0.5rem;
}

.history-wrapper {
  padding: var(--main-padding);
  position: relative;
  transition: max-height 0.6s ease-in;
  max-height: 56px;
  overflow: hidden;
  border: 1px solid var(--orange-color);
  font-size: var(--normal-font);
  font-weight: bold;
}

.dropdown-icon {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  font-size: 1.2em !important;
}

.history-date {
  margin: 1.5rem 0;
  background: var(--orange-color);
  padding: var(--main-padding);
  font-size: var(--normal-font);
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }

  .box-heading {
    grid-row: auto;
  }

  .all-cases-box {
    grid-column: auto;
  }

  .nhs a {
    align-self: center;
  }

  .nhs h3 {
    font-size: var(--small-font);
  }

  .search-cases-box {
    grid-column: auto;
    grid-row: 2;
  }

  #country-heading {
    grid-row: 1;
  }

  #worldwide-heading {
    grid-row: 3;
  }

  .country-search-heading {
    font-size: 1rem;
  }
}
