@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --body-color: #f9fafa;
  --black-color: #000000;
  --text-color-light: #fff;
  --text-color-dark: #000000;

  --orange-color: lightsalmon;
  --green-color: #00afaa;
  --dark-color: black;
  --light-green: #80b796;
  --light-red: #ea8c8c;
  --light-blue: #9bbce3;
  --dark-red: #d72525;
  --dark-green: #006663;
  --dark-purple: #390066;

  --box-color-light: #fff;

  --small-padding: 1rem;
  --main-padding: 2.5rem;
  --main-padding-large: 4rem;
  --main-margin: 2.5rem;
  --large-margin: 3rem;
  --x-small-font: 0.8rem;
  --small-font: 1.2rem;
  --normal-font: 1.6rem;
  --large-font: 2.5rem;
  --extra-large-font: 2.2rem;
  --box-shadow: 3px 8px 10px -6px black;
  --border-radius: 3px;
  --border-grey: 1px solid #bdbebe8f;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  letter-spacing: 0.1rem;
  background: var(--body-color);
  transition: color 0.5s, background 0.5s;
}

.dark-mode {
  --body-color: #0d192e;
  --black-color: #fff;
  --text-color-dark: #fff;
  --text-color-light: #000000;
  --dark-color: #fff;
  --box-color-light: #1b2a43;
  --border-grey: #1b2a43;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  gap: 4rem;
  grid-template-columns: 18vw 1fr;
  grid-template-rows: auto auto auto 600px;
}

header {
  grid-column: span 2;
  grid-row: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--main-margin);
  padding: 1rem;
}

#heading {
  text-align: center;
  font-size: var(--large-font);
  font-weight: 600;
  margin: var(--main-margin) 0;
  color: white;
  flex: 1;
}

#dark-mode-btn {
  padding: var(--small-padding);
  background: var(--box-color-light);
  border-radius: 50%;
  color: var(--black-color);
}

.shadow {
  background: var(--green-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--green-color);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: center;
}

.loader::before {
  content: "";
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#nhs-section {
  grid-column: span 2;
  grid-row: 2;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--black-color);
}

.nhs {
  padding: var(--main-padding);
  background-color: #e5e5e5;
  color: black;
  display: grid;
  grid-template-columns: 100px 1fr;
  border-radius: var(--border-radius);
}

.nhs-text > * {
  margin-bottom: 0.5rem 0;
}

.nhs-text p {
  margin-bottom: 0.5rem;
  font-size: var(--small-font);
  color: black;
}

.nhs h3 {
  font-size: var(--normal-font);
  margin: 0.5rem 0;
  color: black;
}

#nhs-link {
  color: blue;
}

#form {
  grid-column: span 2;
  grid-row: 3;
}

.form {
  display: flex;
  /* padding: var(--main-padding) 0; */
}

.form input[type="text"] {
  flex-basis: 100%;
  padding: var(--main-padding);
  border: 1px solid var(--green-color);
  font-size: var(--normal-font);
  border-radius: var(--border-radius);
  background: var(--white-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--text-color-dark);
}

.form input[type="submit"] {
  font-size: var(--normal-font);
  font-weight: bold;
  background: var(--green-color);
  padding: var(--main-padding);
  outline: none;
  outline-color: none;
  color: var(--text-color-light);
  border: none;
  -webkit-appearance: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.country-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  margin-top: var(--main-margin);
}

/* #remove border for firefox */
.country-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.country-select::before {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0;
  bottom: 0;
  background: var(--green-color);
  border-radius: var(--border-radius);
  z-index: 1;
  width: 5em;
  pointer-events: none;
}

.country-select::after {
  content: url(./img/down2.svg);
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 12px;
  bottom: 0;
  z-index: 1;
  width: 1.2em;
  pointer-events: none;
}

.country-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--green-color);
  position: relative;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--normal-font);
  border-radius: var(--border-radius);
  color: black;
}

#chart {
  grid-column: 2;
  grid-row: 4;
}

.chart-wrapper {
  margin-top: 4rem;
}

.worldwide-stats-wrapper {
  grid-column: 1;
  margin-top: 4rem;
}

.chart-container {
  position: relative;
  height: 60vh;
  grid-column: 2;
}

#mapid {
  min-height: 300px;
}

.active-map {
  opacity: 0;
  height: 0;
}

.active-chart {
  display: none !important;
}

.myChart-country {
  /* min-height: 300px !important; */
}

#chart-heading {
  text-align: center;
  padding: var(--main-padding) 0;
  font-size: var(--large-font);
  color: var(--text-color-dark);
}

.toggle {
  padding: var(--small-padding);
  display: inline-block;
  border-bottom: 1px solid var(--green-color);
  cursor: pointer;
  font-weight: bold;
}

.toggle::hover {
  background: var(--green-color);
}

.toggle:nth-child(2) {
  /* border-bottom: grey; */
  margin-right: 1em;
}

#toggle-chart:hover {
  background: var(--green-color);
}

#show-visual-wrapper {
  padding: var(--main-padding) 0;
}

main {
  margin: var(--main-margin) 0;
  display: grid;
  grid-gap: var(--main-padding);
  grid-template-columns: 18vw auto;
}

.box {
  padding: 1.2rem;
  border: var(--border-grey);
  box-shadow: var(--box-shadow);
}

.main-stat-heading {
  background: var(--green-color);
  font-size: bold;
  text-align: center;
  padding: var(--main-padding) 0;
  font-size: var(--large-font);
  color: white;
}

#worldwide-stats {
  grid-column: 1;
  grid-row: 4;
}

.worldwide-stats-box-wrapper {
  grid-column: 1;
}

.worldwide-stats-box {
  grid-column: 1;
  margin-bottom: var(--main-margin);
  text-align: center;
  box-shadow: var(--box-shadow);
  position: relative;
  border-radius: var(--border-radius);
  border: var(--border-grey);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-dark);
  background: var(--box-color-light);
}

.icon-wrapper {
  background: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.icon {
  align-self: center;
}

.worldwide-stats-box__bottom-div {
  width: 100%;
  height: 3em;
  padding-top: 2em;
  border-radius: 3px;
  /* border-top-left-radius: 0px; */
  /* border-top-right-radius: 0px; */
}

.worldwide-stats-box-heading {
  text-align: center;
  font-size: var(--large-font);
  padding: 1rem 0;
  color: var(--black-color);
  font-weight: normal;
}

.worldwide-stats-box-number {
  padding-bottom: 1em;
}

.box-text {
  font-size: var(--normal-font);
  font-weight: bold;
  border-bottom: 2px solid var(--green-color);
  display: flex;
  flex-direction: column;
  padding: var(--main-padding) 0;
  line-height: 2rem;
}

.box-text span {
  margin: var(--main-padding) 0;
  color: var(--orange-color);
  letter-spacing: 0.3rem;
}

/* # map popup */
.leaflet-popup-content-wrapper {
  background-color: var(--orange-color) !important ;
}

.leaflet-popup-content-wrapper h4 {
  text-align: center;
}

#country-stats {
  grid-column: 2;
  grid-row: 5;
}

.country-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin: 4rem 0;
}

.country-info-header img {
  height: 50px;
  width: 100px;
}

.country-search-heading {
  font-size: 2rem;
}

.search-stats-box {
  grid-column: 2 /-1;
  grid-row: 2;
  overflow: hidden;
  color: var(--text-color-dark);
  border: none;
  box-shadow: none;
}

.border::after {
  content: "";
  position: absolute;
  background: red;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50px;
}

.country-stat-box {
  display: flex;
  align-items: center;

  font-size: var(--normal-font);
  margin: var(--main-margin) 0;
  padding: var(--main-padding);
  background-color: var(--box-color-light);
  box-shadow: var(--box-shadow);
  border: var(--border-grey);
  position: relative;
  border-radius: var(--border-radius);
  color: var(--text-color-dark);
}

.country-stat-box__style {
  background: #80b796;
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-style__tag {
  color: var(--text-color-light);
  padding: 0.5em;
  background: var(--black-color);
  border-radius: 50%;
}

.country-stat-box span {
  font-weight: bold;
  font-weight: 700;
  color: var(--text-color-light);
  letter-spacing: 0.3rem;
  background-color: var(--dark-color);
  padding: 0.5rem;
}

.history-wrapper {
  padding: var(--main-padding);
  position: relative;
  transition: max-height 0.6s ease-in;
  max-height: 70px;
  overflow: hidden;
  font-size: var(--normal-font);
  font-weight: bold;
  z-index: 2;
  border: 1px solid var(--green-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.history-wrapper__dropdown-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-icon {
  cursor: pointer;
  font-size: 1.2em !important;
  color: var(--green-color);
  order: 2;
  z-index: 1;
}

.history-stat-box-wrapper {
  margin: var(--main-margin) 0;
  /* background: black; */
  color: var(--text-color-dark);
  padding: var(--main-padding);
  font-size: var(--normal-font);
  /* border-bottom: 1px solid var(--text-color-dark); */
  border-radius: var(--border-radius);
  background-color: var(--green-color);
  color: white;
  font-weight: normal;
}

border-radius: 3px;
background: #00afaa;
color: WHITE;
border-bottom: NONE;
font-weight: BOLD;

.history-date-info-text {
  font-weight: normal;
}

@media (max-width: 600px) {
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
  main {
    grid-template-columns: 1fr;
  }

  .container {
    width: 90vw;
  }

  .box-heading {
    grid-row: auto;
  }

  .worldwide-stats-box {
    grid-column: auto;
  }

  .nhs a {
    align-self: center;
  }

  .nhs h3 {
    font-size: var(--small-font);
  }

  #chart-container {
    position: relative;
    height: 40vh;
  }

  .search-stats-box {
    grid-column: auto;
    grid-row: 2;
    background: var(--box-color-light);
  }

  #country-heading {
    grid-row: 1;
  }

  #worldwide-heading {
    grid-row: 3;
  }

  .country-search-heading {
    font-size: 1rem;
  }

  .worldwide-stats-box-heading {
    font-size: var(--small-font);
  }

  .worldwide-stats-box-number {
    font-size: var(--small-font);
  }
}
